@use "../base/variables" as v;

form {
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
  border: 1px solid v.$color-light-accent;
  border-radius: 10px;
  background-color: v.$color-light-form-bg;
  color: v.$color-light-text;


}

input, select {
  font-size: v.$font-size-base;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid v.$color-light-accent;
  width: 100%;
  background-color: white; // Fondo blanco en modo claro
  color: v.$color-light-text;


}