@use "../base/variables" as v;

.main-header {
  background-color: v.$color-accent;
  color: v.$color-light-text;
  padding: 1rem 0;

  .container-header {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  h1 {
    font-size: 1.6rem;
    margin: 0;
    
  }


}