
$color-light-bg: #140847;
$color-light-text: #222;
$color-light-accent: #0077b6;
$color-light-form-bg: rgba(0, 0, 0, 0.05); 




$color-accent: #c1d3ee;


$font-base: 'Segoe UI', Roboto, Arial, sans-serif;


$font-size-base: 18px;
$spacing: 20px;
