// tema claro
$color-light-bg: #140847;
$color-light-text: #222;
$color-light-accent: #0077b6;

// tema oscuro
$color-dark-bg: #121212;
$color-dark-text: #f0f0f0;
$color-dark-accent: #00b4d8;

$color-accent: #c1d3ee;


$font-base: 'Segoe UI', Roboto, Arial, sans-serif;


$font-size-base: 18px;
$spacing: 20px;
